body {
  background-color: rgb(99, 96, 96);
}

.centre {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 5px solid rgb(10, 10, 10);
  padding: 5%;
  background-color: rgb(104, 138, 167);
}

#alarmSet {
  margin: 20px;
}

h1 {
  background-color: rgb(148, 69, 69);
  text-align: center;
}

button {
  background-color: rgb(6, 7, 7);
  color: white;
}

