.slide {
  width: 500px;
  height: 300px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}

.buttons {
  width: 100px;
  height: 50px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  display: inline-block;
  text-align: center;
}

.button {
  text-align: center;
}
