/** Write your CSS in here **/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(26, 25, 27);
}
.image-wrapper {
    background-color: rgb(26, 25, 27);
}
.slides {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    max-width: 80%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.slide-hidden{
    display: none;
}
.slide-visible {
    display: block;
}
.slide img {
    width: 100%;
    height: 650px;
}
.buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.forward{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color:#100236;
    text-align: center;
    transition: all 0.2s;
    background-color: rgb(127, 136, 163);
    border-radius: 4px;
}
.forward:hover, .back:hover{
    color:#030c20;
    background-color:#85aeeb;
}
.back {
    display: inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#100236;
    text-align:center;
    transition: all 0.2s;
    background-color: rgb(127, 136, 163);
    border-radius: 4px;
}